@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

color {
  color: hsl(220, 13%, 13%);
  color: hsl(219, 9%, 45%);
  color: hsl(220, 14%, 75%);
  color: hsl(223, 64%, 98%);
  color: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* line-height: 1.5; */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
body.hidden-scrolling {
  overflow-y: hidden;
}
.marquee_text {
  font-size: 24px;
  color: hsl(219, 9%, 45%);
  font-weight: 900;
}
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.school_logo {
  height: 100px;
}
.school_name {
  padding: 5px;
}

.container {
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
.header {
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  border: 2px solid red;
}
.header-main {
  background-color: hsl(219, 9%, 45%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: #e91e63;
  font-weight: 600;
}
.header .nav-menu {
  padding: 0 15px;
}
.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
}
.school_name {
  color: #fff;
}
.header .menu > .menu-item > a .plus {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after {
  background-color: #e91e63;
}
.header .menu > .menu-item > a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: #e91e63;
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid #e91e63;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.carousel-caption {
  background-color: hsl(219, 9%, 45%);
  /* width: 56%; */
}
.admission_container {
  display: inline-flex;
  border: 5px solid black;
}
.admission_human_picture {
  height: 300px;
}

.admission_contents {
  background-color: hsl(219, 9%, 45%);
  padding: 30px;
  color: hsl(0, 0%, 100%);

  /* text-align: center; */
}

.admission_paragraph_div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* display: flex; */
}
.admission_paragraph_div button {
  /* padding: 0px 70px; */
  border: 5px solid black;
}
.apply_now_text {
  padding: 10px 50px;
}
.admission_paragraph {
  padding-top: 10px;
  font-size: 20px;
  /* padding-top: 20px; */
}
.admission_paragraph_div button:hover {
  background-color: hsl(220, 14%, 75%);
  color: #fff;
  /* color: ; */
}

.mission_vision {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.mission_vision H1 {
  text-align: center;
}
.mission,
.vision {
  background-color: hsl(219, 9%, 45%);
  padding: 10px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.mission_vision_paragraph {
  font-size: 18px;
  /* text-align: justify; */
}

/* about us styling start here */
.about_container {
  background-image: url(../images/about-background.jpg);
  height: 250px;
  background-size: cover;
}
.about_text {
  color: #fff;
  border-bottom: 5px solid red;
  padding: 10px;
  font-weight: 900;
  padding: 15px;
  width: 300px;
}

.school_history {
  padding: 10px;
  background-color: hsl(219, 9%, 45%);
  color: #fff;
  margin: ;
}

/* about us styling ends here */
.footer_contents {
  display: inline-flex;
}

footer {
  background-color: hsl(219, 9%, 45%);
  color: #fff;
  padding: 10px;
}
footer h1 {
  font-size: 24px;
}
footer .contact_us img {
  height: 20px;
}

.footer_about_text,
.quick_links a,
.contact_us p {
  font-size: 20px;
}
.footer_about,
.quick_links,
.contact_us,
.social_media {
  width: 25%;
  padding-bottom: 30px;
  /* font-size: 24px; */
  margin: 10px;
}
.social_img {
  height: 30px;
}
.quick_links .menu .menu-item {
  color: #fff;
}
.copy_right {
  display: flex;
  justify-content: space-between;
}
.developer_name {
  color: #fff;
}
/* .contact styling */

.contact_form_container,
.mail_form {
  display: inline-flex;
}
.mail_form_container {
  width: 80%;
  border: 2px solid red;
}
.adresses {
  width: 20%;
}
.mail_form input {
  padding: 10px;
  margin: 10px;
}
.mail_form input[type="text"],
.mail_form input[type="email"],
.mail_form input[type="phone"],
textarea {
  width: 100%;
}
textarea {
  /* margin-right: -5px; */
}
.first_side_section,
.second_side_section {
  width: 50%;
  padding: 10px;
}

.mail_form input[type="submit"] {
  padding: 10px 30px;
  background-color: hsl(219, 9%, 45%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.mail_form input[type="submit"]:hover {
  color: hsl(219, 9%, 45%);
  background-color: #fff;
}
.mail_form input::placeholder {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  font-size: 18px;
}

/********************************8MEDIA QUERY START HERE*/
@media (min-width: 992px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}

.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/*home section*/
.home-section {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center top;
  background-size: cover;
}

/* responsive */

@media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}
@media (min-width: 768px) {
  .mobile_contact_form_submit_2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .about_container {
    height: 130px;
  }
}
@media (max-width: 767px) {
  .open-nav-menu {
    display: inline-flex;
    padding: 5px;
    border: 2px solid #fff;
    /* display: none; */
  }
  .mobile_contact_form_submit_1 {
    display: none;
  }
  .mobile_contact_form_submit_2 {
    display: block;
  }
  .contact_form_container,
  .mail_form {
    display: inline-block;
  }
  .mail_form_container,
  .adresses {
    width: 100%;
  }
  .mail_form input {
    padding: 10px;
    margin: 10px;
  }
  .mail_form input[type="text"],
  .mail_form input[type="email"],
  .mail_form input[type="phone"],
  textarea {
    width: 100%;
  }
  textarea {
    /* margin-right: -5px; */
  }
  .first_side_section,
  .second_side_section {
    width: 100%;
    padding: 10px;
  }

  .apply_now_text {
    padding: 10px 30px;
  }

  .menu_title {
    color: #fff;
    padding-left: 5px;
  }
  .admission_container,
  .footer_contents,
  .mission_vision {
    display: inline-block;
  }
  .footer_about,
  .quick_links,
  .contact_us,
  .social_media {
    width: 100%;
  }

  .copy_right {
    display: inline-block;
  }

  .admission_paragraph_div {
    display: inline-block;
  }

  .admission_human_picture {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .school_logo {
    height: 50px;
  }
  .admission_paragraph,
  .mission_vision_paragraph,
  .footer_about_text,
  .footer_about_text,
  .quick_links a,
  .contact_us p {
    font-size: 16px;
  }
}
